@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');


* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl( 0 ,0%,95%);
}
.header {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    background-color: hsl(0,0%,95%);
    align-items: center;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    z-index: 1;
}
.company-title {
    
    font-size: 1.2rem;
    color: rgb(41, 41, 175);
}

.header .fa-home {

    font-size: 1.5rem;
    padding-right: 10px;
}

.hor-nav-bar{
    display: none;
    margin-left: auto;
}

.hor-nav-link {
    font-weight: .8rem;
    padding: 6px;
    color: hsl(0,0%,30%);
    text-decoration: none;
}

.hor-nav-link:hover {
    color: white;
    background-color: rgba(41, 41, 175, .6);
    cursor: pointer;
}

.language {
    display: inline-block;
}

.main-image-container {
    display: block;  
    
}

.main-background-image {
    
    object-fit: cover;
    max-height: 500px;
    min-width: 100%;
    opacity: 80%;

}

.header .fa-bars {

    font-size: 2rem;
    
    padding: 10px;
}
.icons-container {
    margin-left: auto;
}
.header .fa-times {

    font-size: 2rem;
    
    padding: 10px;
    display: none; 
}
.header .fa-bars:hover, .header .fa-times:hover {

    background-color: rgba(41, 41, 175, .6);
    color: white;
    cursor: pointer;
}

.vert-nav-bar {
    position: fixed;
    top: 90px;
    left: 0;
    background-color: white;
    width: 100%;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}
.vert-nav-link {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    

}

.vert-nav-link:hover {
    color: white;
    background-color:  rgba(41, 41, 175, .6);
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
    color: rgb(41, 41, 175);
    font-weight: bold;
    padding-bottom: 20px;
    
}

.spacer {
    padding: 15px;
}
.about-description {
    padding: 10px;
    font-size: 1.3rem;

}

.services-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    color: rgb(41, 41, 175);
    background-color: white;
    opacity: 90%;
    margin-left: 15px;
}

.services-list li {
   
    font-size: 1.3rem;
    padding: 5px;
    font-weight: bold;

}

.projects-container {

    display: flex;
    flex-wrap: wrap;

}
.projects-column {

    flex: 99%;
    max-width: 99%;;
    flex-direction: column;
}
.projects-column:nth-child(1) {
    display: none;
}
.projects-column:last-child {
    display: none;
}
.main-gallery {

    /* flex: 98%; */
    max-width: 98%;
    margin: 5px;
    /* object-fit: cover; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .5s;
}

.main-gallery:hover {

    cursor: pointer;
    opacity: 60%;
    
    transform: scale(1.05);
}

.entire-label {
    color: white;
    background-color: rgba(41, 41, 175, .6);
    display: block;
    padding: 10px;
    margin: 10px auto 40px auto;
    width: 150px;
    text-align: center;
    text-decoration: none;
    
}

.entire-label:hover {

    cursor: pointer;
    background-color: rgba(41, 41, 175, .8);
    color: black;
    font-weight: bold;
}

.service-container {

    display: flex;
    flex-wrap: wrap;
    background-image: url("images/washroom3.JPG");
    background-size: cover;
    min-height: 300px;
    
}

.services-image {

    width: 200px;
    height: auto;
    opacity: 80%;
}

.contact-container {

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 20px;
    background-image: url(images/kitchen1.JPG);
    background-color: hsla(0,100%,100%, 50%);
    background-blend-mode: multiply;
    background-size: cover;

}



.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.contact-form-item {
    margin: 10px;
}

.contact-form-item-label {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(41, 41, 175, .8);
    padding: 5px;
    background-color: hsla(0,100%,100%, 50%);
    border-radius: .5em;
}

.contact-form textarea {
    height: 5rem;
    width: 20rem;
}

.contact-form-btn {
    padding: 10px;
    color: white;
    background-color: hsla(240, 62%, 42%, 0.8);
    border: none;
    width: 100px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.contact-form-btn:hover {
    cursor: pointer;
    background-color: hsl(240, 62%, 22%);
}


.contact-info-item {
    background-color: rgba(41, 41, 175, .8);
    color: white;
    
    padding: 10px;
    font-size: 1.3rem;
}

.contact-info .contact-info-title {
    font-size: 2rem;
}

.contact-info {

    padding: 10px;
    

}

.footer {
    align-items: center;
    background-color: rgba(41, 41, 175, .8);
}

.footer-comp-title {
    
    width: 400px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2rem;
    text-align: center;
}
 
.footer-social-media {
    display: block;
    width: 200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
    
}

.social-media > a {
    padding:5px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.social-media > a:hover {
    color: hsl(240, 62%, 22%);
}

.section-container {
    border-radius: .5rem;
    background-color: hsl(0, 0%, 91%);
    margin: 10px;
    padding: 25px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery {
    padding-left: 10px;
    padding-right: 10px;
}
.gallery-page-title {
    padding-top: 100px;
}

.project-title {

    font-size: 1.3rem;
    padding: 15px;
    font-weight: bold;
    margin: 30px 15px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%; */
    padding: 20px 3%;
}

.gallery-col {
    flex: 98%;
    width: 98%;
}

.gallery-image {
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .5s;
}

.gallery-image:hover {

    transform: scale(1.05);
    cursor: pointer;
    
}

 .image-placeholder-container, .all-image-placeholder-container {
    display: none;
    background-color: hsla(0,0%,0%, 85%);
    width: 100%;
    height: 100%;
    position: fixed; 
    z-index: 1;
    
} 

.image-placeholder, .all-image-placeholder {
    position: absolute;
    max-width: 95%;
    top: 100px;
    left: 50px;
    
}


.image-placeholder-close, .all-image-placeholder-close {
    position: absolute;
    font-size: 3rem;
    top: 100px;
    left: 50px;
    color: white;
}

.image-placeholder-close:hover, .all-image-placeholder-close:hover {
    cursor: pointer;
    color: rgba(41, 41, 175, .8);
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.reviews-card {
    flex: 98%;
    max-width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;

}

.reviews-card-name {

    background-color: rgba(96, 96, 243, 0.8);
    color: white;
    padding: 10px;

}

.reviews-message {
    padding: 20px;
}

.reviews-link {
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    color: white;
    background-color: rgba(96, 96, 243, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.reviews-link:hover {
    background-color: rgba(48, 48, 180, 0.8);
}


.aboutC, .servicesC {
    flex: 100%;
    width: 100%;
    margin: 50px;
    padding: 0 50px 50px 50px;

}

@media screen and (min-width: 600px) {
    .hor-nav-bar {
        display: inline-block;
    }

    .header .fa-bars {
        display: none;
    }
    .icons-container {
        display: none;
    }
    .vert-nav-bar {
        display: none !important
    }

}

@media screen and (max-width: 768px) and (min-width: 600px) {

    /* .main-gallery {
        flex: 48%;
        max-width: 48%;
        object-fit: cover;
    } */

    .projects-column {
        flex: 48%;
        max-width: 48%;
    }
    .gallery-col {
        flex: 48%;
        width: 48%;
    }

    .reviews-card {
        flex: 45%;
        max-width: 45%;
    }
}

@media screen and (min-width: 769px) {

    /* .main-gallery {
        flex: 32%;
        max-width: 32%;
        object-fit: cover;
    } */

    .projects-column {
        flex: 25%;
        max-width: 25%;

    }
    .gallery-col {
        flex: 25%;
        width: 25%;
    }

    .reviews-card {
        max-width: 31%;
        flex: 31%;
    }

    .aboutC, .servicesC {
        flex: 30%;
        width: 30%;
        margin: 50px;
        padding: 0 50px 50px 50px;
    
    }

    .projects-column:nth-child(1) {
        display:inline-block;
    }

    .projects-column:last-child {
        display: inline-block;
    }
}


.about-services-container {
    display: flex;
    flex-wrap: wrap;

}

#gallery {
    margin-bottom: 60px;
    margin-left: 2%;
    margin-right: 2%;
}

#reviews {
    margin-left: 2%;
    margin-right: 2%;
}

/* .servicesC {
    background-image: url("images/washroom3.JPG");
    background-size: cover;
} */